.page-padding {
  padding: 2rem;
}

.welcome.page > .narrow > img {
  display: block;
  width: 200px;
}

.welcome.page > .narrow > ul {
  width: 80%;
  justify-content: space-between;
  margin: 4rem auto;
  border-bottom: none;
}

.welcome.page > .narrow > ul > li {
  background-color: inherit;
  margin: auto;
}

.welcome.page > .narrow > ul > li > a {
  font-size: 14px;
  min-height: 32px;
  border-bottom-color: rgb(98, 100, 167);
}

.center {
  text-align: center;
}

.sections > * {
  margin: 4rem auto;
}

pre,
div.error {
  background-color: #e5e5e5;
  padding: 1rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 1rem 0;
  max-height: 200px;
  overflow-x: scroll;
  overflow-y: scroll;
}

pre.fixed,
div.error.fixed {
  height: 200px;
}

code {
  background-color: #e5e5e5;
  display: inline-block;
  padding: 0px 6px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.dark pre {
  background-color: #1b1b1b;
}

.dark code {
  background-color: #1b1b1b;
}

.dark div.error {
  background-color: #1b1b1b;
}

.error {
  color: red;
}

.virticalBox {
  overflow-x: auto;
  display: flex;
}

.workspaceBox {
  width: 100%;
  overflow-x: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  box-shadow: none;
  padding: 2rem;
}

.dateLabelBox {
  color: #999;
  width: 100%;
  height: 40px;
  border: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #eee;
  margin: 5px;
}

.transformBox {
  margin-top: 0.2rem;
  margin-left: 5px;
  font-size: x-small;
}

.selectBox {
  color: black;
  padding: 5px;
}

@media (max-width: 767px) {

  .headerBox {
    width: 100%;
  }

  .workspaceBox {
    padding: 0rem;
  }

  .dateLabelBox {
    width: 100%;
  }

  .page-padding {
    padding: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {

  .dateLabelBox {
    width: 100%;
  }

  .headerBox {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .headerBox {
    width: 40%;
  }
}


input {
    border: none;
    width: 100%;
    background: #eee;
    padding-left: 1rem;
    padding-right: 1rem;
}